:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.appiness-logo {
  background-image: url('../../../assets/appiness.png');
  width: 150px;
  height: 72%;
  background-repeat: no-repeat;
}