.orders:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.orders {
  background-color: #ffffff;
  color: #000;
  border: 1px solid;
}

.order-label {
    font-size: 20px;
    font-weight: bold;
}

.shop-tracking-status .form-horizontal {
  margin-bottom: 50px
}

.shop-tracking-status .order-status {
  margin-top: 50px;
  position: relative;
  margin-bottom: 65px;
}

.shop-tracking-status .order-status-timeline {
  height: 12px;
  border: 1px solid #aaa;
  border-radius: 7px;
  background: #eee;
  box-shadow: 0px 0px 5px 0px #C2C2C2 inset
}

.shop-tracking-status .order-status-timeline .order-status-timeline-completion {
  height: 8px;
  margin: 1px;
  border-radius: 7px;
  background: #cf7400;
  width: 0px
}

.order-recieved {
  width: 0% !important;
}

.preparing {
  width: 50% !important;
}

.ready-to-serve {
  width: 100% !important;
}

.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c3 {
  width: 100%;
}

.shop-tracking-status .image-order-status {
  border: 1px solid #ddd;
  padding: 7px;
  box-shadow: 0px 0px 10px 0px #999;
  background-color: #fdfdfd;
  position: absolute;
  margin-top: -35px
}

.shop-tracking-status .image-order-status.disabled {
  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}

.shop-tracking-status .image-order-status.active {
  box-shadow: 0px 0px 10px 0px #cf7400
}

.shop-tracking-status .image-order-status.active .status {
  color: #cf7400;
  text-shadow: 0px 0px 1px #777
}

.shop-tracking-status .image-order-status .icon {
  height: 40px;
  width: 40px;
  background-size: contain;
  background-position: no-repeat
}

.shop-tracking-status .image-order-status .status {
  position: absolute;
  text-shadow: 1px 1px #eee;
  color: #333;
  width: 180px;
  top: 65px;
  left: 0px
}

.shop-tracking-status .image-order-status .status:before {
  font-family: FontAwesome;
  content: "\f053";
  padding-right: 5px
}

.shop-tracking-status .image-order-status-new {
  left: 0
}

.shop-tracking-status .image-order-status-new .icon {
  background-image: url('../../../assets/order-recieved.jpg');
}



.shop-tracking-status .image-order-status-active {
  left: 50%;
  transform: translate(-50%, 0%);
}



.shop-tracking-status .image-order-status-active .icon {
  background-image: url('../../../assets/processing.jpg');
}


.shop-tracking-status .image-order-status-delivered .status {
  top: 85px;
  left: -180px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  text-align: right
}

.shop-tracking-status .image-order-status-completed {
  right: 0px
}

.shop-tracking-status .image-order-status-completed .icon {
  background-image: url('../../../assets/ready-to-serve.jpg');
}

.shop-tracking-status .image-order-status-completed .status {
  top: 65px;
  left: -125px;
  text-align: right;
}
